.create-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 15px;
    border-radius: 20px;
    border: 0;
    box-shadow:
            -2px -2px 1px rgba(0,0,0,0.5) inset,
            10px 4px 10px rgba(0,0,0,0.15),
            0px 8px 10px rgba(0,0,0,0.15);
    background-color: rgb(76, 217, 175);
    transition: 0.4s;
    font-weight: 700;
    font-size: 24px;
}

.create-button:hover {
    transition: 0.4s;
    background-color: #019875;
}
.block-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 15px;
    border-radius: 20px;
    border: 0;
    box-shadow:
            -2px -2px 1px rgba(0,0,0,0.5) inset,
            10px 4px 10px rgba(0,0,0,0.15),
            0px 8px 10px rgba(0,0,0,0.15);
    background-color: #e62136;
    transition: 0.4s;
    font-weight: 700;
    font-size: 24px;
}

.block-button:hover {
    transition: 0.4s;
    background-color: #c51d2f;
}
.update-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 15px;
    border-radius: 20px;
    border: 0;
    box-shadow:
            -2px -2px 1px rgba(0,0,0,0.5) inset,
            10px 4px 10px rgba(0,0,0,0.15),
            0px 8px 10px rgba(0,0,0,0.15);
    background-color: #f6ab38;
    transition: 0.4s;
    font-weight: 700;
    font-size: 24px;
}

.update-button:hover {
    transition: 0.4s;
    background-color: #d09945;
}
.button-box{
    display: flex;
}
.img_ticket__item{
    margin: 30px;
    height: 350px;
    width: auto;
    background-color: rgb(174, 235, 235);
    padding: 10px;
    border-radius: 15px;
    box-shadow:
            -2px -2px 1px rgba(0,0,0,0.5) inset,
            10px 4px 10px rgba(0,0,0,0.15),
            0px 8px 10px rgba(0,0,0,0.15);
}

.text{
    margin-top: 120px;
    line-height: 1.8;
    text-align: left;
    width: 300px;
}

.text h3{
    font-weight: 900;
    color:#4A639E;
}


.main {
    height: 420px;
    width:  80%;
    display: flex;
    margin: 40px auto;
    text-decoration: none;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.main:hover{
    transition: 0.4s;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
}

.tickets_wrap__item{
    margin-top: 30px;
}

.places_wrap__item{
    height: 85px;
    width: 200px;
    list-style-type: none;
    overflow: auto;
    padding-left: 15px;
}

