.hall {
    width: 30%;
    margin: 0 auto;
    border-radius: 35px;
    background: white;
    padding-bottom: 20px;
    padding-top: 1px;
    margin-bottom: 50px;
    box-shadow: 
    -2px -2px 1px rgba(0,0,0,0.5) inset,
    10px 4px 10px rgba(0,0,0,0.15), 
    0px 8px 10px rgba(0,0,0,0.15);
}

::-webkit-scrollbar-thumb:hover {
    background: #2EE59D; 
}

.hall .text {
    margin-top: 40px;
}


