a, u {
    text-decoration: none !important;
    color:dimgrey;
}

.container-style {
    position: static;
    border-top: 1px solid #E7E7E7;
    text-align: center;
    padding: 20px;  
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}