.img_ticket__item{
    margin: 30px;
    width: 200px;
    height: fit-content;
}

.text{
    margin-top: 45px;
    line-height: 2;
    text-align: left;
}

.text h3{
    font-weight: 900;
    color:#4A639E;
}


.main {
    height: 100%;
    width:  80%;
    display: flex;
    margin: 40px auto;

    text-decoration: none;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.tickets_wrap__item{
    margin-top: 30px;
}