.screen {
    text-align: center;
    border-bottom: solid 10px black;
    border-radius: 0px 0px 200px 200px / 0px 0px 50px 50px;
    margin: 70px 0 30px 0;
    padding-bottom: 15px;
    font-weight: 900;
    font-size: 30px;
}

.booking_checkbox__item {
    display: none;
}


.seat{
    font-size: 45px;
}
.booking_checkbox__item:checked ~ .seat,
.demo .pick {
    color: #499C9C;
}

.booking_checkbox__item:disabled ~ .seat, 
.demo .booked {
    color: rgb(150, 148, 148);
}

.seat {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
  
    filter: FlipH;
    -ms-filter: "FlipH";
}

a h6 {
    margin-left: -15px;
}

.row-number {
    font-size: 24px;
    font-weight: bold;
    width: 30px;
    line-height: 50px;
    height: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,400&display=swap');
.hallDemo {
    margin: 45px auto;
    font-family: 'Montserrat', sans-serif; 
    width: 90%;
}

.bookTicketsBtn {
    margin-top: 30px;
    background-color: white;
    padding: 15px 100px;
    border: solid #6be7e7 1px;
    border-radius: 15px;
    box-shadow: 
    -2px -2px 1px rgba(0,0,0,0.5) inset,
    10px 4px 10px rgba(0,0,0,0.15), 
    0px 8px 10px rgba(0,0,0,0.15);
}

.bookTicketsBtn:hover {
    transition: 0.5s;
    background-color: #6be7e7;
}

.bookTicketsBtn:focus {
    box-shadow: 
    -2px -2px 1px rgba(0,0,0,0.5) inset,
    10px 4px 10px rgba(0,0,0,0.15), 
    0px 8px 10px rgba(0,0,0,0.15);
    outline: none;
}

.errorMessage {
    color: #BB4D4D;
    font-size: 24px;
    font-weight: 900;
    margin: 25px;
}

.alertBook {
    font-size: 20px;
    font-weight: 800;
}

.demo {
    margin-bottom: 25px;
}

