.post-wrap {
    width: 300px;
    margin-top: 20px;
    box-shadow: 
      -2px -2px 1px rgba(0,0,0,0.5) inset,
      10px 4px 10px rgba(0,0,0,0.15), 
      0px 8px 10px rgba(0,0,0,0.15);
    
 }
 .post-item {
    padding: 10px;
 }
 .post-link {
    text-decoration: none;
    display: block;
 }
 .post-item-wrap {
    overflow: hidden;
    position: relative;
 }
 .post-item img {
    display: block;
    height: 400px;
    margin: 0 auto;
 }
 .text-wrapper {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    width: 86%;
    padding: 20px;
    background:rgb(174, 235, 235);
    transform: translate3d(-100%, 0, 0);
    transition: transform .5s cubic-bezier(.33, .02, 0, .93);
 }
 .post-item:hover .text-wrapper {
    transform: translate3d(0, 0, 0);
    transition: transform .5s cubic-bezier(.33, .02, 0, .93) .3s;
 }
 .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    background: #4A639E;
    transform: translate3d(-100%, 0, 0);
    transition: transform .4s cubic-bezier(.33, .02, 0, .93) .2s;
 }
 .post-item:hover .overlay {
    transform: translate3d(0, 0, 0);
    transition: transform .5s cubic-bezier(.33, .02, 0, .93);
 }
 .post-title {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #4A639E;
    font-weight: 700;
 }
 .post-date {
    font-size: 12px;
    font-weight: 400;
    color: #575655;
    font-style: italic;
 }
 @media (min-width: 768px) {
    .post-item {
       flex-basis: 50%;
       flex-shrink: 0;
    }
 }
 @media (min-width: 960px) {
    .post-item {
       flex-basis: 33.333333333%;
    }
 }

.movie-element__item {
   margin: 30px auto;
}