.navbar-custom {
    background-color: #499C9C;
    font-family: 'Montserrat', sans-serif;
}


.navbar-custom .mr-auto .custom-nav .nav-link {
    color: #EBF8F8;
}

.navbar-custom .mr-auto .custom-nav :hover {
    color: #ABB4B4;
}


