.session__item{
    margin: 20px 0px;
    padding-left: -5px;
    font-size: 18px;
    font-weight: 700;
}

.session__poster{
    background-color: rgb(174, 235, 235);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 
      -2px -2px 1px rgba(0,0,0,0.5) inset,
      10px 4px 10px rgba(0,0,0,0.15), 
      0px 8px 10px rgba(0,0,0,0.15);
}

.session__movie a{
    color: #4A639E;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
}

.session__movie:hover a{
    color: #2EE59D;
}

.all-session .error__message {
    font-size: 30px;
    color: rgb(126, 25, 25);
    font-weight: 900;
}
